/*    VARIABLES   */
$green-main: #79D317;
$green-accent: #20B11D;
$dark-green-accent: #0F590D;
$orange-accent: orange;
$brown-accent: #816856;
$grey-dark: #222222;
$grey-light: #888888;
$white: #FFFFFF;

$border-radius: 5px;
$box-padding: 1rem;

@mixin photo-background {
  background-image: url('../img/jake-colling-1554403-unsplash.jpg');
  background-size: cover;
  min-height: 100vh;
}