@import './variables.scss';

.Splash {
  @include photo-background;
  min-height: calc(100vh - 3rem);
  padding-top: 3rem;

  .action {
    margin-bottom: 0.8rem;
  }

  .slider-button {
    position: relative;
    top: -60px;
    z-index: 6;
    padding: 1rem;
  }

  .slider-ad {
    background: $green-main;
    width: 100%;
    height: calc(100% - 2rem);
    border-radius: $border-radius;
    padding: $box-padding;
    margin: 0.5rem;
    font-size: 1.3rem;
    p {
      margin-top: 0.2rem;
      text-align: left;
      color: $dark-green-accent;
    }
    h3 {
      margin: 0.3em 0 0 0;
    }
  }

  .tagline {
    margin: 0;
    background: $green-main;
    padding: 0.3rem;
  }
}